In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('test.tsv', sep='\t', header=None)
df = df.append(pd.read_csv('valid.tsv', sep='\t', header=None), ignore_index=True);
df = df.append(pd.read_csv('train.tsv', sep='\t', header=None), ignore_index=True);
df.head(2)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,11972.json,true,Building a wall on the U.S.-Mexico border will...,immigration,rick-perry,Governor,Texas,republican,30.0,30.0,42.0,23.0,18.0,Radio interview
1,11685.json,false,Wisconsin is on pace to double the number of l...,jobs,katrina-shankland,State representative,Wisconsin,democrat,2.0,1.0,0.0,0.0,0.0,a news conference

In [3]:
df.iloc[:,1].value_counts()

half-true      2627
false          2507
mostly-true    2454
barely-true    2103
true           2053
pants-fire     1047
Name: 1, dtype: int64

In [4]:
df['label'] = df.iloc[:,1].map({
    'half-true': False,
    'false': True,
    'mostly-true': False,
    'barely-true': True,
    'true': False,
    'pants-fire': True
})
df.label.value_counts()

False    7134
True     5657
Name: label, dtype: int64

In [5]:
df.shape

(12791, 15)

In [6]:
df['text'] = df.iloc[:,2]
liar = df[['label', 'text']]
liar

       label                                               text
0      False  Building a wall on the U.S.-Mexico border will...
1       True  Wisconsin is on pace to double the number of l...
2       True  Says John McCain has done nothing to help the ...
3      False  Suzanne Bonamici supports a plan that will cut...
4       True  When asked by a reporter whether hes at the ce...
...      ...                                                ...
12786  False  There are a larger number of shark attacks in ...
12787  False  Democrats have now become the party of the [At...
12788  False  Says an alternative to Social Security that op...
12789   True  On lifting the U.S. Cuban embargo and allowing...
12790   True  The Department of Veterans Affairs has a manua...

[12791 rows x 2 columns]

In [7]:
liar.to_csv('liar.csv', index=False)